.top-header
  .top-header__up
    .top-header__up__left
      = image_tag "IMG_7119.jpg", class: "bimi-icon"
    .top-header__up__right
      = form_with url:'/wines/index', method: :get, local: true do |f|
        = f.text_field :search, class: "header-seach", placeholder: "  search for wine..."
        = f.submit 'Search'
  .top-header__down
    - if user_signed_in?
      .top-header__down__new
        = link_to "/users/#{current_user.id}" do
          マイページ
    - else
      .top-header__down__new
        = link_to "/users/sign_up" do
          新規会員登録
      .top-header__down__login
        = link_to "/users/sign_in" do
          ログイン