.header
  = link_to '/wines/index' do
    .title
      %p Bimi Wine
.content2
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.email_field :email, autofocus: true, autocomplete: "email", autofocus: true, placeholder: "メールアドレス"
      %i.fa.fa-envelope.fa-lg.fa-fw{"aria-hidden" => "true"}
    .field
      = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード"
      %i.fa.fa-key{"aria-hidden" => "true"}
    .actions
      = f.submit "Log in", class: "submit-btn"
= render 'module/footer'
