.header2
  = link_to '/wines/index' do
    = image_tag 'IMG_7119.jpg', class: 'bimi-m2'
.delete-before
  .delete-before__body
    削除しました。
  .delete-before__btn
    = link_to "/users/#{current_user.id}" do
      マイページに戻る。
= render 'module/footer'