= render 'module/header'
.content
  %h.newpost New Post Wine
  .wines
    = render 'wines-box'
    = render 'wines-box'
    = render 'wines-box'
.content
  .wines
    = render 'wines-box'
    = render 'wines-box'
    = render 'wines-box'
.content-down
  = image_tag "wine.jpg", class: 'content-down_img'
.footer
  .footer-box
    %h2 BimiWineについて
    %ul
      %li 会社概要
      %li プレスリリース
      %li プライバシーポリシー
      %li ワインの楽しみ方