.header2
  = link_to '/wines/index' do
    = image_tag 'IMG_7119.jpg', class: 'bimi-m2'
.wines-show__content
  .wines-show__content-box
    .wines-show__content-box_name
      %div #{@wine.name}
    .wines-show__content-box_phot
      = image_tag @wineimages.images.url, class: "content-box_phot"
    - if @wine.comment.present?
      .wines-show__content-box_comment
        %div TEXT : #{@wine.comment}
    - if @wine.shop_name.present?
      .wines-show__content-box_shopname
        %div SHOP : #{@wine.shop_name}
    - if @wine.feature_ids.present?
      .wines-show__content-box_tag
        %div TAGS :
        - @feature.each do |feature|
          .wines-show__content-box_tag2
            %div #{feature.name}
    - if current_user.id == @wine.user_id
      .wines-show__content-box_editbtn
        = link_to '#' do
          .wine-editbtn
            Edit