.header
  = link_to '/wines/index' ,style: "text-decoration: none" do
    .title
      %p Bimi Wine
.wines-show__content
  .wines-show__content-box
    .wines-show__content-box_name
      %div #{@wine.name}
    .wines-show__content-box_phot
      = image_tag @wineimages.images.url, class: "content-box_phot"
    - if @wine.comment.present?
      .wines-show__content-box_comment
        %div TEXT : #{@wine.comment}
    - if @wine.shop_name.present?
      .wines-show__content-box_shopname
        %div SHOP : #{@wine.shop_name}
    - if @wine.feature_ids.present?
      .wines-show__content-box_tag
        %div TAGS :
        - @feature.each do |feature|
          .wines-show__content-box_tag2
            %div #{feature.name}
    - if user_signed_in?
      - if current_user.id == @wine.user_id
        .wines-show__content-box_editbtn
          = link_to edit_wine_path do
            .wine-editbtn
              Edit
          = link_to deletebefore_wine_path do
            .wine-editbtn
              %i.fas.fa-trash-alt